<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RS Lang</title>

    <meta name="description"
          content="Learn new English words smart and easy! 3600 words at your fingertips, with images, examples and pronunciation, and mini-games to guide them right to your memory!">
    <meta name="author" content="BAM RS Team">

    <meta property="og:title" content="RS Lang">
    <meta property="og:type" content="website">
    <meta property="og:description"
          content="Learn new English words smart and easy! 3600 words at your fingertips, with images, examples and pronunciation, and mini-games to guide them right to your memory!">

    <link rel="icon" stabs="256x256" href="../../../assets/favicon.png">
    <!-- <link rel="stylesheet" href="global.css"> -->
  </head>

  <body>

  </body>

</html>